<center><h3>Dashboard Admin<h3></center>
<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-left">
              <li role="presentation"><a href="/users/dashboard/add_handler">Handlers</a></li>
              <li role="presentation"><a href="/users/dashboard/add_student">Students</a></li>
              <li role="presentation"><a href="/users/dashboard/add_institute">Institutes</a></li>
              <li role="presentation"><a href="/users/dashboard/add_department">Departments</a></li>
          </ul>
        </nav>
      </div>

<h2 class="page-header"> Add Institute </h2>

<form method='post' action='/users/dashboard/add_institute'>
  <div class='form-group'><input type='text' name='institute_id' class='form-control' placeholder='Institute Id'></div>
  <div class='form-group'> <input type='text' name='institute_name' class='form-control' placeholder='Institute Name'></div>
    <input type = 'submit' class="btn btn-default"> 
</form>
 
<br>

<h2 class="page-header">Institutes</h2> 

<table class='table'><tr>
    <th>Institute Id</th>
    <th>Institute Name</th></tr>

{{#each institutes}}
    <tr class='info'><td>{{this.institute_id}}</td><td> {{this.institute_name}}</td> </tr>
{{/each}}
</table>