<h3>Dashboard Handler<h3>
<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-left">
              <li role="presentation"><a href="/users/dashboard/add_dues">Add Dues</a></li>
              <li role="presentation"><a href="/users/dashboard/remove_dues">Remove Dues</a></li>
          </ul>
        </nav>
      </div>