<center><h3>Dashboard Admin<h3></center>
<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-left">
              <li role="presentation"><a href="/users/dashboard/add_handler">Handlers</a></li>
              <li role="presentation"><a href="/users/dashboard/add_student">Students</a></li>
              <li role="presentation"><a href="/users/dashboard/add_institute">Institutes</a></li>
              <li role="presentation"><a href="/users/dashboard/add_department">Departments</a></li>
          </ul>
        </nav>
      </div>

