



<h2 class="page-header"> Instructions</h2>

<br>
<li>Students can check if they have any dues scheduled. </li>
<li>If there are any dues scheduled, please visit the respective dues department.</li>
<li>Concerned department will clear your dues once you complete the required formalities.</li>
<li>Students need not visit departments which do not have any dues scheduled against your roll number.</li>



        <nav class="navbar navbar-default">
          <div class="container-fluid">
          <ul class="nav navbar-nav">
             <a href="/dues/rollno"> <button class="btn btn-info navbar-btn">Search Dues by Roll Number</button></a>
           <a href="/dues/department">   <button class="btn btn-info navbar-btn">Search Dues by Department</button></a>
          </ul>
                </div>
        </nav>

